{% extends "home/base.html" %}{%load static%} {%block content%}
<div
  class="bg-white mx-auto position-relative"
  style="width: 1200px; height: 5000"
>
  <div class="container">
    <div class="row">
      <!--Cart List-->
      <div class="col-3">
        <h1>Cart List</h1>
        <div class="row overflow-scroll border" style="height: 500px">
          {%for c in cart%}
          <div class="row border mb-1 g-0">
            <!--Image-->
            <div class="col-md-4">
              <image
                class="cart-img"
                src="{{c.product_id.product_image.url}}"
              ></image>
            </div>
            <!--Detail-->
            <div class="col-md-8 mt-2">
              <h6 class="h6">{{c.product_id.product_name}}</h6>
              <div class="">
                <p class="">₱{{c.product_id.price}}</p>
              </div>
              <p>x{{c.quantity}}</p>
            </div>
          </div>
          {%endfor%}
        </div>

        <!--Checkout Information-->
      </div>
      <div class="col">
        <h1>Order Summary</h1>
        <div class="row">
          <p class="col-6">Recepient:</p>
          <p class="col-6">{{request.user.first_name}} {{request.user.last_name}}</p>
          <p class="col-6">Delivery Address:</p>
          <p class="col-6">
            {{info.address_1}}, {{info.city}}, {{info.province}}, {{info.zipcode}}
          </p>
          <p class="col-6">Contact #:</p>
          <p class="col-6">{{ info.ContactNumber }}</p>
        </div>
        {% csrf_token %}
        <h3>Mode of Payment</h3>
        <form method='post'>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="pay_method"
              value="cod"
              checked
            />
            <label class="form-check-label" for="cod"> Cash on Delivery </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="pay_method"
              value="mob"
            />
            <label class="form-check-label" for="mob"> Mobile Payment </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="pay_method"
              value="ccv"
            />
            <label class="form-check-label" for="ccv"> Credit/Debit Card </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="pay_method"
              value="crypt"
            />
            <label class="form-check-label" for="crypt"> Crypto Currency </label>
          </div>
        </form>
        <button
          type="button"
          class="btn btn-dark mt-5"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          Confirm Order
        </button>
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <!--Modal-->
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                  Mode of Payment Details
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">...</div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button type="button" id="confirm" class="btn btn-primary">
                  Save changes
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script>
        var main = $('#confirm').click(function(){
          var CSRFtoken = $("input[name=csrfmiddlewaretoken]").val();
          var data = $("input[name=pay_method]:checked").val();
    
          $.post(
            "/checkout",
            {
              pay_method: data,
              csrfmiddlewaretoken: CSRFtoken,
            },
            function () {
              location.reload();
            }
          );
        })
      </script>
    </div>
  </div>
  {%endblock%}
</div>
