{% extends "home/base.html" %}
{% block content%}
<!--Sign up box-->
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="border rounded-5 p-3 bg-white shadow box-area" style="width: 300px">
        <div class="col">
            <h1 class="h1">Information</h1>
            <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">First Name</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" value="Rudeus">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" value="Greyrat">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Street</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" value="you">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">City</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" value="get">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Province</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" value="the">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Zip Code</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" value="idea">
                </div>
                <button type="submit" class="btn btn-primary btn-dark">Confirm</button>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock %}