{% extends "home/base.html" %}
{% block content%}
<div
      class="bg-white mx-auto position-relative"
      style="width: 1200px; height: 5000"
    >
<div class="container">
    <p class="h1">Frequently Asked Questions</p>
    <ul class="list-group list-group-flush">
        <li class="list-group-item dropdown">
            <a class="nav-link text-dark dropdown-toggle" data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">How can I track my order</a>
        </li>
        <div class="collapse" id="collapseExample2">
            <div class="card card-body">
              Once your order is confirmed and shipped, you will receive an email with a tracking number. You can use this tracking number to monitor the status of your package through the shipping carrier's website.
            </div>
        </div>
        <li class="list-group-item dropdown">
            <a class="nav-link text-dark dropdown-toggle" data-bs-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample">What is your return policy?</a>
        </li>
        <div class="collapse" id="collapseExample3">
            <div class="card card-body">
              We want you to be completely satisfied with your purchase. If for any reason you are not, we accept returns within 30 days of delivery. Please ensure the items are unworn, unwashed, and with their original tags attached. Just email us at returns@shopenvy.me
            </div>
        </div>
        <li class="list-group-item dropdown">
            <a class="nav-link text-dark dropdown-toggle" data-bs-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample">How long does shipping take?</a>
        </li>
        <div class="collapse" id="collapseExample4">
            <div class="card card-body">
              Shipping times vary depending on your location and the shipping method chosen. Generally, domestic orders may take 3-7 business days, while international orders can take 7-21 business days.
            </div>
        </div>
        <li class="list-group-item dropdown">
            <a class="nav-link text-dark dropdown-toggle" data-bs-toggle="collapse" href="#collapseExample5" role="button" aria-expanded="false" aria-controls="collapseExample">Do you accept cryptocurrency payments?</a>
        </li>
        <div class="collapse" id="collapseExample5">
            <div class="card card-body">
              Yes! We do accept cryptocurrency payments.
            </div>
        </div>
        <li class="list-group-item dropdown">
            <a class="nav-link text-dark dropdown-toggle" data-bs-toggle="collapse" href="#collapseExample6" role="button" aria-expanded="false" aria-controls="collapseExample">What if I receive a defective or damaged item?</a>
        </li>
        <div class="collapse" id="collapseExample6">
            <div class="card card-body">
              If you receive a defective or damaged item, please contact return@shopenvy.me. We will arrange for a replacement or issue a refund as per our Return Policy.
            </div>
        </div>
        <li class="list-group-item dropdown">
            <a class="nav-link text-dark dropdown-toggle" data-bs-toggle="collapse" href="#collapseExample7" role="button" aria-expanded="false" aria-controls="collapseExample"> Can I change the shipping address after placing an order?</a>
        </li>
        <div class="collapse" id="collapseExample7">
            <div class="card card-body">
              If you need to change the shipping address, please contact our customer support team as soon as possible. We will try our best to update the address before the shipment is sent out.
            </div>
        </div>
      </ul>
</div>
</div>
{% endblock %}