{% extends "home/base.html" %}
{% block content%}
<div class="container">
    <p class="h1">Frequently Asked Questions</p>
    <ul class="list-group list-group-flush">
        <li class="list-group-item dropdown">
            <a class="nav-link text-dark dropdown-toggle" data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">An Item</a>
        </li>
        <div class="collapse" id="collapseExample2">
            <div class="card card-body">
              Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
            </div>
        </div>
        <li class="list-group-item dropdown">
            <a class="nav-link text-dark dropdown-toggle" data-bs-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample">An Item</a>
        </li>
        <div class="collapse" id="collapseExample3">
            <div class="card card-body">
              Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
            </div>
        </div>
        <li class="list-group-item dropdown">
            <a class="nav-link text-dark dropdown-toggle" data-bs-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample">An Item</a>
        </li>
        <div class="collapse" id="collapseExample4">
            <div class="card card-body">
              Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
            </div>
        </div>
        <li class="list-group-item dropdown">
            <a class="nav-link text-dark dropdown-toggle" data-bs-toggle="collapse" href="#collapseExample5" role="button" aria-expanded="false" aria-controls="collapseExample">An Item</a>
        </li>
        <div class="collapse" id="collapseExample5">
            <div class="card card-body">
              Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
            </div>
        </div>
        <li class="list-group-item dropdown">
            <a class="nav-link text-dark dropdown-toggle" data-bs-toggle="collapse" href="#collapseExample6" role="button" aria-expanded="false" aria-controls="collapseExample">An Item</a>
        </li>
        <div class="collapse" id="collapseExample6">
            <div class="card card-body">
              Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
            </div>
        </div>
        <li class="list-group-item dropdown">
            <a class="nav-link text-dark dropdown-toggle" data-bs-toggle="collapse" href="#collapseExample7" role="button" aria-expanded="false" aria-controls="collapseExample">An Item</a>
        </li>
        <div class="collapse" id="collapseExample7">
            <div class="card card-body">
              Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
            </div>
        </div>
      </ul>
</div>
{% endblock %}