{% extends "home/base.html" %} {% block content%}
{%load static%}
<div
      class="bg-white mx-auto position-relative"
      style="width: 1200px; height: 5000"
    >
<div
  id="carouselExampleAutoplaying"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'index/weekend_sale.png' %}" class="d-block w-100" alt="test" />
    </div>
    <div class="carousel-item">
      <img src="{% static 'index/tt_collab.png' %}" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item">
      <img src="{% static 'index/otv_collab.png' %}" class="d-block w-100" alt="..." />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleAutoplaying"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleAutoplaying"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!--Items-->
<div class="container">
  <div class="row row-cols-5">
    <div class="col col-12 bg-black text-white">
      <p class="h2">Hot Products</p>
    </div>
    {% for p in products %}
    <div class="col">
      <a class="nav-link" href="#">
        <div class="card">
          <img src="{{p.product_image.url}}" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title text-center">{{p.product_name}}</h5>
            <div class="row justify-content-evenly">
              <p class="card-text">{{p.price}}</p>
              <p class="card-text text-secondary">69.9k Sold</p>
            </div>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
</div>
{% endblock %}
