{% extends "home/base.html" %} {%block content%} {%load static%}
<div
  class="bg-white mx-auto position-relative"
  style="width: 1200px; height: 5000"
>
  <div class="container">
    <div class="row">
      <!--Current information-->
      <div class="card col-5">
        <h1>Your Information</h1>
        <h5>Name: {{request.user.first_name}} {{request.user.last_name}}</h5>
        <h5>
          Address: {{info.address_1}}, {{info.city}}, {{info.province}},
          {{info.zipcode}}
        </h5>
        <h5>Contact #: {{info.ContactNumber}}</h5>
      </div>

      <!--Edit Information button-->
      <div>
        <a href="/edit_information">
          <button type="button" class="btn btn-dark mt-2">
            Edit Information
          </button>
        </a>
      </div>
    </div>

    <!--Order Status-->
    <div class="row mt-2">
      <div class="col">
        <p class="h2">Delivering</p>
        <div
          class="row overflow-y-scroll border"
          style="height: 250px; width: 500px"
        >
          {% for d in deliver %}
          <div>
            <a class="col-12" href="order/{{d.id}}">{{ d.pk }}</a>
          </div>
          {%endfor%}
        </div>
      </div>

      <div class="col">
        <p class="h2">Delivered</p>
        <div
          class="row overflow-y-scroll border"
          style="height: 250px; width: 500px"
        >
          {% for d in delivered %}
          <div>
            <a class="col-12" href="#">{{ d.pk }}</a>
          </div>
          {%endfor%}
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}
