{% extends "home/base.html" %} {%block script%} {%load static%}
<script src="{% static 'quantityChange.js' %}"></script>

{% endblock %} {% block content %}
<div
  class="bg-white mx-auto position-relative"
  style="width: 1200px; height: 5000"
>
  <div class="container" style="width: 1000px">
    {% csrf_token %} {%for p in order%}
    <div class="row border mb-3">
      <!--Image-->
      <div class="col-2" style="padding: 0%">
        <image
          class="cart-img"
          src="{{p.product_id.product_image.url}}"
        ></image>
      </div>
      <!--Detail-->
      <div class="col-9">
        <h1 class="">{{p.product_id.product_name}}</h1>
        <div class="">
          <h4 class="">₱{{p.product_id.price}}</h4>
        </div>
      </div>
      <!--Put Quantity here-->
      <div class="col-1" >
        <p class="h5" style="margin: 82px 0 0 0 ">x{{p.quantity}}</p>
      </div>
    </div>
    {%endfor%}
  </div>
  <script>
    var main = $(".quantity-button").click(function () {
      var CSRFtoken = $("input[name=csrfmiddlewaretoken]").val();
      var data = $(this).attr("id");

      $.post(
        "/update_cart",
        {
          data: data,
          csrfmiddlewaretoken: CSRFtoken,
        },
        function () {
          location.reload();
        }
      );
    });
    $(document).ready(main);
  </script>
</div>
{% endblock %}
