{% extends "home/base.html" %} {% block content%} {%load static%}

<div
  class="bg-white mx-auto position-relative"
  style="width: 1200px; padding-top: 10px"
>
  <!--By Type-->
  <div class="row ms-5">
    <select
      id="type"
      class="form-select bg-dark text-white me-1"
      aria-label="Default select example"
      style="width: 105px"
    >
      <option value="None">By Type</option>
      <option value="Tops" selected>Tops</option>
      <option value="Blouses">Blouses</option>
      <option value="Sweaters">Sweaters</option>
      <option value="Pants">Pants</option>
      <option value="Dresses">Dresses</option>
      <option value="Jackets">Jackets</option>
      <option value="Shirts">Shirts</option>
    </select>

    <!--By Style-->

    <select
      id="style"
      class="form-select bg-dark text-white me-1 filter"
      aria-label="Default select example"
      style="width: 105px"
    >
      <option value="None" selected>By Style</option>
      <option value="Business">Business</option>
      <option value="Casual">Casual</option>
      <option value="Athletic">Athletic</option>
      <option value="Formal">Formal</option>
    </select>

    <!--By Style-->

    <select
      id="sex"
      class="form-select bg-dark text-white filter"
      aria-label="Default select example"
      style="width: 105px"
    >
      <option value="None" selected>By Sex</option>
      <option value="Men">Men</option>
      <option value="Women">Women</option>
      <option value="Unisex">Unisex</option>
    </select>
  </div>

  <!--Items-->
  <div id="item_content" class="container mt-5">
    <div class="row row-cols-5">
      {% for p in products %}
      <div class="col mb-2">
        <a class="nav-link" href="product/{{p.id}}">
          <div class="card">
            <img
              src="{{p.product_image.url}}"
              class="card-img-top product-image"
              alt="Product Image"
              style="width: 100%; height: 300px"
            />
            <div class="card-body">
              <h5 class="card-title text-center">{{p.product_name}}</h5>
              <div class="row justify-content-evenly">
                <p class="card-text">₱{{p.price}}</p>
                <p class="card-text text-truncate">{{p.description}}</p>
                <p class="card-text text-secondary">{{p.sold}} Sold</p>
              </div>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<script>
  const urlParams = new URLSearchParams(window.location.search);
  data = urlParams.get("q").split(" ");
  url = "/products?q=";
  if (data != "") {
    $("#type").val(data[0]);
    $("#style").val(data[1]);
    $("#sex").val(data[2]);
  } else {
    data = ["None", "None", "None"];
  }

  $("#type").change(function () {
    data[0] = $(this).val();
    reloadPage();
  });

  $("#style").change(function () {
    data[1] = $(this).val();
    reloadPage();
  });

  $("#sex").change(function () {
    data[2] = $(this).val();
    reloadPage();
  });

  function reloadPage() {
    $.each(data, function (i, value) {
      url = url + value + "+";
    });
    window.location.replace(url);
  }
</script>
{% endblock %}
