{% extends "home/base.html" %} {%block script%} {%load static%}
<script src="{% static 'quantityChange.js' %}"></script>

{%endblock%} {% block content%}
<div
  class="bg-white mx-auto position-relative"
  style="width: 1200px; height: 5000"
>
  <div class="container" style="width: 1000px">
    <div class="row">
      <!--Product Image-->
      <div class="col-4 md-4 mt-2">
        <image src="{{product.product_image.url}}" style="width: 310px"></image>
      </div>
      <!--Product Detail-->
      <div class="col-6 md-4 mt-2">
        <h1 class="">{{product.product_name}}</h1>
        <p hidden id="product_id">{{product.id}}</p>
        <input hidden name="product_id" value="{{product.id}}" />
        <div class="d-flex justify-content-around position-relative">
          <h4 class="position-absolute start-0">₱{{product.price}}</h4>
          <h4>{{product.sold}} Sold</h4>
        </div>

        <div class="row row-cols-lg-auto g-3 align-items-center mt-5">
          <p class="col-12">Tags: {% for t in category%} {{t.category_name}} {% endfor %}</p>
        </div>

        <div class="row row-cols-lg-auto g-3 align-items-center mt-5">
          <p class="col-12">Quantity:</p>
          <button
            type="button"
            class="col-12 btn btn-outline-dark btn-sm mb-2"
            style="padding-top: 1px; padding-bottom: 1px"
            onclick="decrementButton()"
          >
            -
          </button>
          <input
            type="text"
            name="quantity_input"
            class="mb-2 mx-2"
            id="quantity"
            value="1"
            style="width: 30px"
          />
          <button
            type="button"
            class="col-12 btn btn-outline-dark btn-sm mb-2"
            style="padding: 1px 7px"
            onclick="incrementButton()"
          >
            +
          </button>
        </div>

        <div class="row row-cols-lg-auto g-3 align-items-center mt-2">
          {% csrf_token %}
          <button
            id="add_to_cart"
            type="button"
            class="btn btn-dark btn-lg me-2 {% if request.user.is_authenticated %}auth{% endif %}"
          >
            Add to Cart
          </button>
          <button type="button" id="buy_now" class="btn btn-dark btn-lg {% if request.user.is_authenticated %}auth{% endif %}">Buy Now</button>
        </div>
        <script>
          var main = function () {
            $("#add_to_cart").click(function () {
              if(!$(this).hasClass('auth')){
                window.location.replace('login');
                return;
              }
              var CSRFtoken = $("input[name=csrfmiddlewaretoken]").val();
              var product = $("input[name=product_id]").val();
              var data = $("input[name=quantity_input]").val();
              $.post("/add_to_cart", {
                product_id: product,
                quantity: data,
                csrfmiddlewaretoken: CSRFtoken,
              });
              alert("product added to cart");
            });

            $('#buy_now').click(function(){
              if(!$(this).hasClass('auth')){
                window.location.replace('/login');
                return;
              }
              var CSRFtoken = $("input[name=csrfmiddlewaretoken]").val();
              var product = $("input[name=product_id]").val();
              var data = $("input[name=quantity_input]").val();
              $.post("/add_to_cart", {
                product_id: product,
                quantity: data,
                csrfmiddlewaretoken: CSRFtoken,
              }, function(){
                window.location.replace("/cart")
              });
            })
          };

          $(document).ready(main);
        </script>
      </div>
      <!--Description-->
      <div class="col-12 md-4">
        <p>{{product.description | linebreaks}}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
